@import "helpers/bootstrap.min.css";
@import "helpers/jquery-ui.css";
@import "helpers/font-awesome.min.css";
@import "helpers/datatables.css";
@import "helpers/icheck/square/blue.css";
@import "helpers/redactor.css";
@import "helpers/bootstrap-fileupload.css";
@import "helpers/ekko-lightbox.css";
@import "helpers/perfect-scrollbar.css";
@import "helpers/select2.css";
@import "helpers/bootstrap-datatimepicker.css";
@import "helpers/print.css";

/*@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/wkfQbvfT_02e2IWO3yYueQ.woff) format('woff');
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; }*/

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
} 

/*@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../fonts/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/0ihfXUL2emPh0ROJezvraD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}*/

/* With Extended Charset */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(../fonts/mZSs29ggGoaqrCNB3kDfZQ.woff) format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(../fonts/trnbTfqisuuhRVI3i45C5w.woff) format('woff');
}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: 'Ubuntu', sans-serif; }


/* Invoice CSS updated by Chitra */

.textleft{
                width:30%; 
                float:left;
                display:inline;
            }
            .textcenter{
                width:40%;
                display:inline;
                float:left;
            }
            .textright{
                width:30%;
                display:inline;
                float:right;
            }
            .receipthead{
                background-color: #dbdbdb;
                border: 1px solid #333333;
                color: #333;
                font-family: Arial,Helvetica,sans-serif;
                font-size: 12px;
            }

table{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.5;
    /*font-size:11px !important;*/
}
.topleft {
    font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333; padding:5px 0px;
}

.topright{
    font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333; padding:3px 0px;
}
table.topright>tr>td{
    font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#333; 
    padding:3px 0px;vertical-align: top; text-align: left;
}
.rowhead{
    font-family:Arial, Helvetica, sans-serif; 
    border:solid 1px #333333;
    font-weight:normal;
    background-color: #dbdbdb;
    font-weight:normal;
    font-size:12px; 
    line-height: 1.5;
    font-family:Arial, Helvetica, sans-serif;
    color:#333; 
    /*padding:5px 0px 5px 10px;*/
    vertical-align: top; 
    text-align: left;
    
}
.no-bg{
    background: #fff !important;
}
.head-bg{
    background-color: #dbdbdb;
}
.sign-height{
  height:55px;
}
.dash-border{
    border-bottom:3px dashed #333;
}
.border-bottom{
    border-bottom: 1px solid #333 !important;
}
table.rowhead>tr>td{
    border-right:1px solid #333;
}
.rowbody{
    font-family:Arial, Helvetica, sans-serif; 
    font-weight:normal;font-size:14px; 
}
table.rowbody>tr>td{
    line-height: 1.5;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px; color:#333; 
    padding:5px 10px 5px 0px;
    vertical-align: top; 
    text-align: left;
}

.tbodyheadleft{
    line-height: 1.5;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:14px;
    border: solid 1px #333333;
    background-color: #dbdbdb;
    vertical-align: top; 
    text-align: center;
}
table.tbodyheadleft>tr>td{
    line-height: 1.5;
    border: solid 1px #333333;
    color:#333; padding:5px 0px;
    
}
tr.bottomline>td{
    border-bottom:1px solid #333333;
    
}

tr.topline>td{
    border-top:1px solid #333333;
}
