@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

* {
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
}
html, body {
    height: 100%;
}
body {
    background: #f8f8f8;
    color: #363636;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden], template {
    display: none;
}
a {
    background: transparent;
}
a:active, a:hover {
    outline: 0 none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
mark {
    background: #ff0;
    color: #000;
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 1em 40px;
}
hr {
    box-sizing: content-box;
    height: 0;
}
pre {
    overflow: auto;
}
code, .mono, kbd, pre, samp {
    font-family: monospace,monospace;
    font-size: 1em;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button {
    overflow: visible;
}
button, select {
    text-transform: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button[disabled], html input[disabled] {
    cursor: default;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
input {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    box-sizing: content-box;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
textarea {
    overflow: auto;
}
optgroup {
    font-weight: bold;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td, th {
    padding: 0;
}
h1, h2, h3, h4, h5 {
    font-weight: bold;
}
b, strong {
    font-weight: bold;
}
.clear {
    clear: both;
}
.left {
    width: 48%;
    padding-right: 2%;
    float: left;
}
.right {
    width: 48%;
    padding-left: 2%;
    float: right;
}
.left img, .right img {
    width: 100%;
}
.s-ul {
    color: #7c8d97;
}
.white { 
    color: white;
}
.bold {
    font-weight: bold;
}
.intro {
    font-size: 1.2em;
}
.hl {
    background: #FCF3A7;
    color: red;
}
#docs {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.show-nav #docs {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  
  transform: translate3d(200px, 0, 0);
  -webkit-transform: translate3d(200px, 0, 0);
}
.linear { -webkit-transition: 300ms linear all; transition: 300ms linear all; }
.none { -webkit-transition: none; -webkit-transition: none; }
header {
    float: left;
    width: 100%;
    height: 38px;
    background: #21292E;
    position: fixed;
    z-index: 100; 
}
header ul {
    margin: 0;
    position: absolute;
    top: 0;
    left: 200px;
    bottom: 0; 
}
header li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 38px;
    position: relative; 
}
header li a {
    color: #919191;
    font-weight: normal;
    display: block;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    border-right: 1px solid #344047;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    text-transform: uppercase;
    letter-spacing: 1px; 
}
header li:first-child a {
    border-left: 1px solid #344047;
}
header a.logo {
    display: block;
    float: left;
    height: 38px;
    line-height: 38px;
    margin-left: 15px;
    width: 170px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.input-group {
    width: 280px;
    border-collapse: separate;
    display: table;
    position: relative;
    margin-right: 25px;
}
.input-group-btn {
    position: relative;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    vertical-align: middle;
    white-space: nowrap;
    width: 1%;
}
.input-group-btn, .input-group .form-control {
    display: table-cell;
}
.search-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    height: 24px;
    line-height: 1.28;
    padding: 3px 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    margin-bottom: 0;
    width: 250px;
}
.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #ffffff;
}
.btn {
    -moz-user-select: none;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.28;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
#actions {
    position: fixed;
    top: 0;
    right: 0;
    display: blcok;
    width: 480px;
}
.actions {
    position: relative;
}
.actions-con {
    background: #EEE;
    padding: 5px;
    width: 434px;
    height: 33px;
    top: 0;
    position: absolute;
    right: 0;
    padding-left: 8px;
}
.actions-con a {
    margin-right: 15px;
}
.actions-con form {
    float: left;
}
.btn1 {
    margin-top: 5px;
    float: left;
    z-index: 5555;
    outline: none;
    background: #EEE;
}
#actions .mr {
    float: right;
}
#s-header {
    background: #e0e0e0;
    display: none;
    position: fixed;
    top:0;
    left: 0; 
    right: 0;
    overflow: hidden;
    height: 30px;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid #CCC;
}
#s-header .navicon {
    line-height: 30px;
    position: fixed;
    top:0;
    left: 0;
    color: #333;
    z-index: 55555;
    text-align: center;
    padding: 0 10px;
    background: #CCC;
}
#s-header .faqnavicon {
    line-height: 30px;
    position: fixed;
    top:0;
    right: 0;
    z-index: 55554;
    color: #CCC;
    text-align: center;
    padding: 0 10px;
    background: #023544;
}
#s-header a.s-logo {
    line-height: 30px;
    margin-left: 50px;
    color: #023544;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.sidebar {
    background: #f8f8f8;
    left: 0;
    overflow-x: visible;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: padding-top 500ms ease 0s, left 200ms ease 0s;
    width: 200px;
    z-index: 10;
    overflow-x: visible;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    bottom: 0;
}
.sidebar.off-screen {
    left: -225px;
}
.sidebar a.logo {
    display: block;
    background: #e0e0e0;
    float: left;
    height: 38px;
    line-height: 38px;
    padding: 0 15px;
    width: 170px;
    color: #023544;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.sidebar ul, .sidebar li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.sidebar li {
    border-bottom: 1px solid #e0e0e0;
    transition: all 200ms ease 0s;
}
.sidebar li:first-child {
    border-top: 1px solid #e0e0e0;
}
.sidebar li li:first-child {
    border-top: 0;
}
.sidebar li ul {
    margin: 10px 0;
}
.sidebar li ul li {
    border: medium none;
    position: relative;
}
.sidebar .nav > li > a {
    border-left: 3px solid transparent;
    color: #4d4d4d;
    display: block;
    font-weight: normal;
    padding: 8px 12px;
    text-decoration: none;
}
.sidebar .nav > li:hover {
}
.sidebar .nav > li.active:hover {
    background: rgba(0, 0, 0, 0);
}
.sidebar .nav .nav > li > a {
    line-height: 1.2;
    padding: 5px 10px 5px 25px;
}
.sidebar .nav .nav li:hover, .sidebar .nav .nav a:hover {
    background: rgba(0, 0, 0, 0) !important;
}
.sidebar .nav .nav a:hover {
    border-left-color: transparent;
    color: #023544;
    font-weight: bold;
}
.sidebar .nav .nav a:hover:after {
    border: 2px solid #023544;
    border-radius: 4px;
    content: "";
    height: 4px;
    left: 10px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 4px;
}
.sidebar .nav > .active > a, .sidebar .nav > li > a:hover, .sidebar .nav > li > a:focus {
    background: rgba(76, 95, 102, 0.1);
    border-left-color: transparent;
    color: #525252;
    text-decoration: none;
}
.sidebar .nav .active .active a {
    background: rgba(0, 0, 0, 0);
    border-left-color: transparent;
    color: #023544;
    font-weight: bold !important;
    text-decoration: none;
}
.sidebar .nav .active .active a:after {
    border: 2px solid #023544;
    border-radius: 4px;
    content: "";
    height: 4px;
    left: 10px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 4px;
}
.sidebar .nav > li > a:focus {
    background: #f1f1f1;
}
.sidebar .nav > .active > a, .sidebar .nav > .active:hover > a, .sidebar .nav > .active:focus > a {
    font-weight: bold;
}
.sidebar .nav .nav > .active > a, .sidebar .nav .nav > .active:hover > a, .sidebar .nav .nav > .active:focus > a {
    font-weight: normal;
}
.sidebar .nav ul.nav {
    display: none;
}
.sidebar .nav > .active > ul.nav {
    display: block;
}
.MainContent {
    margin-top: 50px;
}
.group, .subgroup {
    margin-top: -50px;
    padding-top: 50px;
}
#big-wrap {
    background: #fff;
    border-left: 1px solid #e0e0e0;
    margin-left: 200px;
    transition: all 200ms ease 0s;
}
#big-wrap.open {
    margin-left: 0;
}
#inner-wrap {
    background: #013f50;
    margin-left: 50%;
    position: relative;
}
#full-page #inner-wrap {
    background: none;
    margin-left: 0;
    position: static;
}
.set {
    position: relative;
}
.inner-set {
    clear: left;
    margin-left: -100%;
    padding: 0;
    position: relative;
}
#full-page .inner-set {
    clear: left;
    margin-left: 0;
    padding: 0;
    position: static;
}
.category-head .set-description:before {
    background-color: #dfdfdf;
}
.set-description {
    color: #363636;
    float: left;
    padding: 85px 2% 48px 2%;
    position: relative;
    transition: padding 200ms ease 0s;
    width: 46%;
    z-index: 1;
}
#full-page .set-description {
    color: #363636;
    float: none;
    padding: 30px;
    position: static;
    transition: padding 200ms ease 0s;
    width: auto;
    z-index: 1;
}
.set ul, .set ol {
    padding-left: 30px;
}
.set ol li, .set ul li {
    padding-left: 5px;
    margin: 3px 0;
}
.set-description .highlight {
    background: #024e64;
    border-radius: 3px;
    margin: 20px 0;
    padding: 21px 25px;
}
.set-description .highlight h2 {
    font-size: 2em;
    color: #fff;
}
.set-description .highlight p {
    color: #b1ebe3;
    font-size: 1.2em;
    line-height: 1.3;
}
.set-description h4 {
    font-size: 1.6em;
    margin: 6px 0;
}
.set-description ul.nested {
    line-height: 1.3;
    margin: 0;
    padding: 0;
}
.set-description ul.nested li {
    border-bottom: 1px solid #e7e7e7;
    list-style: outside none none;
    margin: 0 0 20px;
    padding: 0 0 15px;
}
.set-description ul.nested li strong {
    display: block;
    font-size: 1.8em;
    margin-bottom: 6px;
}
.set-description ul.nested li code {
    font-size: 1em;
}
.set-description ul.nested li ul {
    margin: 4px 0 0 18px;
}
.set-description ul.nested li ul li {
    border-bottom: medium none;
    list-style: outside none disc;
    margin: 0 0 12px;
    padding: 0;
}
.set-description ul.nested li ul li strong {
    display: inline;
    font-size: 1.6em;
}
.set-description ul.nested li ul li ul li {
    margin: 0 0 2px;
}
.set-description ul.nested li ul li ul li strong {
    font-size: 1em;
}
.set-description.open {
    padding: 0 30px 48px 71px;
}
.set-description:before {
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    right: 1px;
    top: 0;
}
#full-page .set-description {
    border-bottom: 1px solid #e0e0e0;
}
#last .set-description {
    border-bottom: 0;
    padding: 0;
}
.category-head .set-description h3 {
    background: rgba(0, 0, 0, 0);
    border: medium none;
    color: #023544;
    font-size: 2em;
    margin-top: 0;
    top: 26px;
}
.set-description h3 {
    background: #fcfcfc;
    border-top: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    color: #023544;
    font-size: 1.6em;
    font-weight: bold;
    left: 0;
    right: 0;
    line-height: 55px;
    margin-bottom: 3px;
    padding: 0 4%;
    position: absolute;
    top: 1px;
    width: 92%;
}
#full-page .set-description h3 {
    padding: 0;
    position: static;
}
.set-description p:last-of-type {
    margin-bottom: 0;
}
.set-description p {
    line-height: 1.5;
    margin-bottom: 20px;
}
.set-description p code {
    background: #f3f3f3;
    border-radius: 1px;
    padding: 2px 3px;
}
.set-description .highlight p code {
    background: rgba(1, 1, 1, 0.125);
}
.set-description a {
    color: #013b4b;
    text-decoration: none;
}
.set-description code {
    background: #f3f3f3;
}
.set-description table {
    border: 1px solid #dadada;
    margin-bottom: 30px;
    margin-top: 15px;
    width: 100%;
}
.set-description p + table {
    margin-top: 30px;
}
.set-description table + p {
    margin-top: 30px;
}
.set-description table th {
    border-bottom: 1px solid #dadada;
}
.set-description table thead {
    background: #fcfcfc;
}
.category-head .set-dev {
    padding: 90px 30px 48px;
}
.category-head .set-dev:after {
    background-color: #344047;
    content: "";
    height: 1px;
    left: 0;
    line-height: 1;
    position: absolute;
    right: 1px;
    top: 0;
}
.category-head .set-dev h3 {
    background: rgba(0, 0, 0, 0);
    color: #e0e0e0;
    content: "";
    font-size: 2.2em;
    height: 100px;
    left: 0;
    letter-spacing: 0;
    line-height: 100px;
    padding-left: 31px;
    position: absolute;
    right: 1px;
    top: 0;
}
#full-page .set-dev {
    color: white;
    margin-left: 0;
    padding: 85px 30px 48px;
    position: static;
    width: 100%;
}
.set-dev {
    color: white;
    margin-left: 50%;
    padding: 85px 2% 48px 2%;
    position: relative;
    width: 46%;
    background-color: #013f50;
}
.set-dev h3 {
    background-color: #023544;
    color: #e0e0e0;
    content: "";
    font-size: 1.6em;
    font-weight: normal;
    height: 56px;
    left: 0;
    letter-spacing: 0.3px;
    line-height: 56px;
    position: absolute;
    right: 1px;
    top: 0;
    width: 92%;
    padding: 0 4%;
}
.set-dev .beta {
    background: #024e64;
    border-radius: 3px;
    padding: 21px 25px;
}
.set-dev .beta h2 {
    font-size: 31px;
}
.set-dev .beta p {
    color: #96a4ac;
    font-size: 1.6em;
    line-height: 1.3;
}
.set-dev table {
    border: medium none;
    display: block;
    margin-top: 5px;
    overflow: auto;
    width: 100%;
}
.set-dev table th {
    border-bottom: medium none;
}
.set-dev table tbody {
    display: inline-table;
    width: 100%;
}
.set-dev table thead {
    background: rgba(0, 0, 0, 0);
    color: white;
}
.set-dev table td, .set-dev table th {
    border-bottom: medium none;
}
.set-dev table .hljs {
    display: inline-block;
    padding: 7px;
}
.set-dev .table td, .set-dev .table th {
    padding: 2px 0 3px;
}
.set-dev h4 {
    color: #5b6c75;
    font-size: 1.5em;
    font-weight: normal;
    letter-spacing: 1.3px;
    margin-bottom: 9px;
    text-transform: uppercase;
}
.set-dev.topMar {
    padding-top: 45px;
}
.table-code code {
    line-height: 2;
}
.set-dev p {
    color: #b1ebe3;
}
.set-dev pre {
    clear: right;
    position: relative;
}
code {
    position: relative;
}
.block {
    margin-bottom: 35px;
    position: relative;
}
a.copy {
    background-image: url("/assets/images/sprites/clip-sprite.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    border-radius: 3px;
    color: #c0c0c0;
    display: block !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    height: 19px;
    line-height: 1;
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width: 14px;
}
a.copy.highlight {
    background-position: -18px 0;
}
a.copy.hover {
    background-position: -36px 0;
}
a.copy.hover:before {
    background-position: 0 0;
}
a.copy.highlight.hover {
    background-position: -18px 0;
}
a.copy.highlight:before {
    color: #61bbb9;
    content: "Code copied";
    font-size: 13px;
    font-style: italic;
    opacity: 1;
    position: absolute;
    right: 25px;
    text-align: right;
    top: 0;
    width: 100px;
}
.features > li { 
    font-weight: bold;
}
.features > li li { 
    font-weight: normal;
}
.table {
    border: 1px solid #cbcbcb;
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
}
.table td, .table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}
.table td:first-child, .table th:first-child {
    border-left-width: 0;
}
.table thead {
    background: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}
.table td {
    background-color: transparent;
}
.table-odd td {
    background-color: #f2f2f2;
}
.table-striped tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}
.table-bordered td {
    border-bottom: 1px solid #cbcbcb;
}
.table-bordered tbody > tr:last-child td, .table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}
.table-horizontal td, .table-horizontal th {
    border-bottom: 1px solid #cbcbcb;
    border-width: 0 0 1px;
}
.table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}
.smallshow { 
    display: none;
}


.cd-faq{width:100%;margin:20px auto}.cd-faq:after{content:"";display:table;clear:both}
@media only screen and (min-width:768px){.cd-faq{position:relative;margin:20px auto;box-shadow:none}}
.cd-faq ol,.cd-faq ul{padding-left:0}.cd-faq-categories,.cd-faq-group{list-style:none}.cd-faq-categories a{position:relative;display:block;overflow:hidden;height:50px;line-height:50px;padding:0 28px 0 16px;background-color:#4e5359;color:#fff;white-space:nowrap;border-bottom:1px solid #555b61;text-overflow:ellipsis}.cd-faq-categories a::after,.cd-faq-categories a::before{position:absolute;top:50%;right:16px;display:inline-block;height:1px;width:10px;background-color:#7f868e}.cd-faq-categories a::after{-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-ms-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}.cd-faq-categories li:last-child a{border-bottom:none}@media only screen and (min-width:768px){.cd-faq-categories{width:20%;float:left;margin-right:15px}.cd-faq-categories a{font-weight:bold;padding:0 10px;-webkit-transition:background .2s,padding .2s;-moz-transition:background .2s,padding .2s;transition:background .2s,padding .2s}.cd-faq-categories a::after,.cd-faq-categories a::before{display:none}.no-touch .cd-faq-categories a:hover{background:#555b61}.no-js .cd-faq-categories{width:100%;margin-bottom:2em}}
@media only screen and (min-width:1024px){.cd-faq-categories{position:absolute;top:0;left:0;width:200px;z-index:2}.cd-faq-categories a::before{display:block;top:0;right:auto;left:0;height:100%;width:3px;background-color:#a9c056;opacity:0;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;transition:opacity .2s}.cd-faq-categories .selected{background:#42464b!important}.cd-faq-categories .selected::before{opacity:1}.cd-faq-categories.is-fixed{position:fixed}.no-js .cd-faq-categories{position:relative}}
/*.cd-faq-items{position:fixed;height:100%;width:90%;top:30px;right:0;background:#fff;padding:0 5% 1em;overflow:auto;-webkit-overflow-scrolling:touch;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transform:translateZ(0) translateX(100%);-moz-transform:translateZ(0) translateX(100%);-ms-transform:translateZ(0) translateX(100%);-o-transform:translateZ(0) translateX(100%);transform:translateZ(0) translateX(100%);-webkit-transition:-webkit-transform .3s;-moz-transition:-moz-transform .3s;transition:transform .3s}*/.cd-faq-items.slide-in{-webkit-transform:translateZ(0) translateX(0%);-moz-transform:translateZ(0) translateX(0%);-ms-transform:translateZ(0) translateX(0%);-o-transform:translateZ(0) translateX(0%);transform:translateZ(0) translateX(0%)}.no-js .cd-faq-items{position:static;height:auto;width:100%;-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}@media only screen and (min-width:768px){.cd-faq-items{position:static;height:auto;width:auto;overflow:visible;-webkit-transform:translateZ(0) translateX(0);-moz-transform:translateZ(0) translateX(0);-ms-transform:translateZ(0) translateX(0);-o-transform:translateZ(0) translateX(0);transform:translateZ(0) translateX(0);padding:0;background:0 0}}
@media only screen and (min-width:1024px){.cd-faq-items{float:none;/*padding-left:220px;*/}.no-js .cd-faq-items{padding-left:0}}
.cd-close-panel{position:fixed;top:5px;right:-100%;display:block;height:40px;width:40px;overflow:hidden;text-indent:100%;white-space:nowrap;z-index:2;-webkit-transform:translateZ(0);-moz-transform:translateZ(0);-ms-transform:translateZ(0);-o-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:right .4s;-moz-transition:right .4s;transition:right .4s}.cd-close-panel::after,.cd-close-panel::before{position:absolute;top:16px;left:12px;display:inline-block;height:3px;width:18px;background:#6c7d8e}.cd-close-panel::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.cd-close-panel::after{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.cd-close-panel.move-left{right:2%}
@media only screen and (min-width:768px){.cd-close-panel,.cd-faq-content{display:none}}
/*.cd-faq-group{display:none}*/.cd-faq-group.selected{display:block}.cd-faq-group .cd-faq-title{background:0 0;box-shadow:none;margin:1em 0}.no-touch .cd-faq-group .cd-faq-title:hover{box-shadow:none}.cd-faq-group .cd-faq-title h2{text-transform:uppercase;font-weight:bold;color:#bbbbc7}.no-js .cd-faq-group{display:block}
.cd-faq-group{display:block}.cd-faq-group>li{background:#f8f8f8;margin-bottom:8px;border:1px solid #e0e0e0}.cd-faq-group>li:first-child{border:0}.no-touch .cd-faq-group>li:hover{box-shadow:0 1px 10px rgba(108,125,142,.3)}.cd-faq-group .cd-faq-title{margin:2em 0 1em}.cd-faq-group:first-child .cd-faq-title{margin-top:0}
.cd-faq-trigger{position:relative;display:block;line-height:1.2;padding:14px 52px 14px 14px}.cd-faq-trigger::after,.cd-faq-trigger::before{position:absolute;right:24px;top:50%;height:2px;width:13px;background:#cfdca0;-webkit-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition-property:-webkit-transform;-moz-transition-property:-moz-transform;transition-property:transform;-webkit-transition-duration:.2s;-moz-transition-duration:.2s;transition-duration:.2s}.cd-faq-trigger::before{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);right:32px}.cd-faq-trigger::after,.content-visible .cd-faq-trigger::before{-webkit-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-o-transform:rotate(-45deg);transform:rotate(-45deg)}.content-visible .cd-faq-trigger::after{-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg)}.cd-faq-content p{line-height:1.4;color:#6c7d8e;margin:10px !important;}.cd-faq-content ol,.cd-faq-content ul{padding-left:30px;color:#6c7d8e}
@media only screen and (min-width:768px){.cd-faq-content{display:none;padding:0 24px 30px}.cd-faq-content p{line-height:1.6}.no-js .cd-faq-content{display:block}}

body:after{content:url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);display:none}.lightboxOverlay{position:absolute;top:0;left:0;z-index:9999;background-color:#000;filter:alpha(Opacity=80);opacity:.8;display:none}.lightbox{position:absolute;left:0;width:100%;z-index:10000;text-align:center;line-height:0;font-weight:normal;}.lightbox .lb-image{display:block;height:auto;max-width:inherit}.lightbox a img{border:none}.lb-outerContainer{position:relative;background-color:#fff;width:250px;height:250px;margin:0 auto}.lb-outerContainer:after{content:"";display:table;clear:both}.lb-container{padding:4px}.lb-loader{position:absolute;top:43%;left:0;height:25%;width:100%;text-align:center;line-height:0}.lb-cancel{display:block;width:32px;height:32px;margin:0 auto;background:url(../img/loading.gif) no-repeat}.lb-nav{position:absolute;top:0;left:0;height:100%;width:100%;z-index:10}.lb-container>.nav{left:0}.lb-nav a{outline:0;background-image:url(data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==)}.lb-next,.lb-prev{height:100%;cursor:pointer;display:block}.lb-nav a.lb-prev{width:34%;left:0;float:left;background:url(../img/prev.png) left 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-prev:hover{filter:alpha(Opacity=100);opacity:1}.lb-nav a.lb-next{width:64%;right:0;float:right;background:url(../img/next.png) right 48% no-repeat;filter:alpha(Opacity=0);opacity:0;-webkit-transition:opacity .6s;-moz-transition:opacity .6s;-o-transition:opacity .6s;transition:opacity .6s}.lb-nav a.lb-next:hover{filter:alpha(Opacity=100);opacity:1}.lb-dataContainer{margin:0 auto;padding-top:5px;width:100%;-moz-border-radius-bottomleft:4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomright:4px;-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px}.lb-dataContainer:after{content:"";display:table;clear:both}.lb-data{padding:0 4px;color:#ccc}.lb-data .lb-details{width:85%;float:left;text-align:left;line-height:1.1em}.lb-data .lb-caption{font-weight:bold;line-height:1em}.lb-data .lb-number{display:block;clear:left;padding-bottom:1em;color:#999}.lb-data .lb-close{display:block;float:right;width:30px;height:30px;background:url(../img/close.png) top right no-repeat;text-align:right;outline:0;filter:alpha(Opacity=70);opacity:.7;-webkit-transition:opacity .2s;-moz-transition:opacity .2s;-o-transition:opacity .2s;transition:opacity .2s}.lb-data .lb-close:hover{cursor:pointer;filter:alpha(Opacity=100);opacity:1}

.hljs{background:rgba(1,1,1,.125);color:#a7b3b8;display:inline-table;padding:13px 4%;width:92%}.diff .hljs-header,.hljs-comment,.hljs-doctype,.hljs-javadoc,.hljs-pi,.hljs-template_comment,.lisp .hljs-string{color:#586e75}.css .hljs-tag,.hljs-addition,.hljs-keyword,.hljs-request,.hljs-status,.hljs-winutils,.method,.nginx .hljs-title{color:#bdcc57}.hljs-command,.hljs-hexcolor,.hljs-link_url,.hljs-number,.hljs-phpdoc,.hljs-regexp,.hljs-rules .hljs-value,.hljs-string,.hljs-tag .hljs-value,.tex .hljs-formula{color:#64c0b9}.css .hljs-function,.hljs-built_in,.hljs-chunk,.hljs-decorator,.hljs-id,.hljs-identifier,.hljs-localvars,.hljs-title,.vhdl .hljs-literal{color:#268bd2}.haskell .hljs-type,.hljs-attribute,.hljs-class .hljs-title,.hljs-constant,.hljs-link_reference,.hljs-parent,.hljs-variable,.lisp .hljs-body,.smalltalk .hljs-number{color:#dfc267}.clojure .hljs-title,.css .hljs-pseudo,.diff .hljs-change,.hljs-attr_selector,.hljs-cdata,.hljs-header,.hljs-pragma,.hljs-preprocessor,.hljs-preprocessor .hljs-keyword,.hljs-shebang,.hljs-special,.hljs-subst,.hljs-symbol,.hljs-symbol .hljs-string{color:#d8744b}.hljs-deletion,.hljs-important{color:#dc322f}.hljs-link_label{color:#6c71c4}.tex .hljs-formula{background:#073642}

.tooltip{position:absolute;z-index:1070;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal;line-height:1.4;visibility:visible;filter:alpha(opacity=0);opacity:0}.tooltip.in{filter:alpha(opacity=10);opacity:1}.tooltip.top{padding:5px 0;margin-top:-3px}.tooltip.right{padding:0 5px;margin-left:3px}.tooltip.bottom{padding:5px 0;margin-top:3px}.tooltip.left{padding:0 5px;margin-left:-3px}.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;text-decoration:none;background-color:#000;border-radius:4px;font-weight:bold;}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-left .tooltip-arrow{right:5px;bottom:0;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-right .tooltip-arrow{bottom:0;left:5px;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-left .tooltip-arrow{top:0;right:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-right .tooltip-arrow{top:0;left:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}

@media only screen and (max-width: 1000px) {
    #inner-wrap {
        background: white;
        margin-left: 0;
    }
    #big-wrap {
        border-left: medium none;
        min-width: 0;
        overflow-x: hidden;
        margin-left: 200px;
        border-left: 1px solid #e0e0e0;
    }
    .smallshow { 
        display: block;
    }
    .bigshow { 
        display: none;
    }
    .inner-set {
        margin-left: 0;
    }
    .set-description {
        width: 96%;
    }
    .set-description h3 {
        font-size: 1.8em;
        font-weight: bold;
    }
    .category-head .set-description h3 {
        font-size: 1.8em;
        line-height: normal;
        font-weight: bold;
    }
    .set-dev {
        margin-left: 0;
        width: 96%;
        clear: left;
    }
    .sidebar, #close-bar {
        border-right: 1px solid #e0e0e0;
    }
    a.copy {
        display: none !important;
    }
    .set-dev .beta {
        clear: left;
    }
    .hljs{background-color:#f0f0f0;color:#575757}.hljs-command,.hljs-hexcolor,.hljs-link_url,.hljs-number,.hljs-phpdoc,.hljs-regexp,.hljs-rules .hljs-value,.hljs-string,.hljs-tag .hljs-value,.tex .hljs-formula{color:#1aada2}.haskell .hljs-type,.hljs-attribute,.hljs-class .hljs-title,.hljs-constant,.hljs-link_reference,.hljs-parent,.hljs-variable,.lisp .hljs-body,.smalltalk .hljs-number{color:#e48219}.css .hljs-tag,.hljs-addition,.hljs-keyword,.hljs-request,.hljs-status,.hljs-winutils,.method,.nginx .hljs-title{color:#c453c4}
}
@media only screen and (max-width: 768px) {
    .sidebar, #close-bar {
        left: -225px;
    }
    .show-nav .sidebar {
        left: 0;
    }
    #big-wrap {
        margin-left: 0;
        padding: 0;
    }
    #full-page #big-wrap {
        margin-top: 30px;
    }
    #s-header {
        display: block;
    }
    .sidebar a.logo {
        height: 30px;
    }
    .actions {
        display: none;
    }
}

